{
    "neo4j": {
        "host": "127.0.0.1",
        "user": "neo4j",
        "password": "neo4j"
    },
    "driver": {
        "name": "COREPOS\\Recommend\\Driver\\Script",
        "options": {
            "getTransactions": "/bin/true",
            "getItem": "/bin/true"
        }
    }
}
